.color-gray {
	color: gray;
	font-size: 14px;
	line-height: 14px;
	border: 2px solid grey;
	border-radius: 5px;

	&:hover {
		transition: all 0.2s;
		box-shadow: 1px 2px 12px 3px #71737c;
	}
}

.color-blue {
	border: 2px solid #1234e8;
	border-radius: 5px;
	font-size: 14px;
	line-height: 14px;
	color: #1234e8;

	&:hover {
		transition: all 0.2s;
		box-shadow: 1px 2px 12px 3px #1234e8;
	}
}

.bg-blue {
	background-color: #1234e8;
	border-radius: 5px;
	border: none;
	color: white;

	&:hover {
		transition: all 0.2s;
		box-shadow: 1px 2px 12px 3px #1234e8;
	}
}