.platform {
	background-color: #F6F6F6;
	width: 390px;
	height: 225px;
	border-radius: 10px;
	padding-top: 20px;
	margin-bottom: 60px;
}
.platform-description{
font-size: 18px;
line-height: 18px;
text-align: center;
margin-top: 50px;
}