.buttons {
	width: 500px;
	align-items: center;

	.buttons-first {
		width: 232px;
		height: 55px;
	}

	.buttons-second {
		width: 207px;
		height: 55px;
	}

	.buttons-description {
		font-size: 24px;
		text-align: center;
		opacity: 2;
	}
}